<!doctype html>
<html lang=en>

<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self' https://hello-world-qlxufga2dq-ue.a.run.app/ http://localhost:8080">
<title>Receipt Image to Text Conversion</title>
</head>

  <body><br/>
    Receipt Image to Text Conversion<br/>
    (Author: Vish Natarajan)
    <br/><br/>
    <iframe src="links.html" style="border-width: 0px" ></iframe>
    <br/>
    <a href="/">Back to Home Page</a><br/>
  </body> 
</html>