
<html> 
  <head>
<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self' https://hello-world-qlxufga2dq-ue.a.run.app/ http://localhost:8080">
  </head>
  <footer>
   <a href="upload.html">Upload Receipt</a><br/>
   <a href="check-status.html">Check Uploaded Receipt</a><br/>
  </footer> 
</html>